<div class="container">
  <form action="/" method="post">
    <label for='team_id'>Enter an Abbreviated Team Name </label>
    <input type="text" name="team_id" />
    <input type="submit" value="Get Players" />
  </form>
</div>
